body,html,h2{
	padding: 0px;
	margin: 0px;
}
.header{
	text-align: center;
	height: 60px;
	width: 100%;
	line-height: 60px;	
}

.wrap{
	width: 100%;
	margin: auto auto;
}

.wrap table{
	margin: 0 auto;
	width: 100%;
}
.wrap table td{
	width: 50%;
	height: 32px;
}

.text{
	text-align: right;
}

.btn-reg{
	text-align: center;
}